extends layout

block content
      .container
        h1 About us
        p Sport Lisboa e Benfica
        ul
            li Lisboa
            li Estadio da Luz
            li Tri Campeao
        p Viva!